/tesseractdotnetwrapper_r590/.vs
tesseractdotnetwrapper_r590/bin/Debug/IPoVnSystem.pdb
*.pdb
tesseractdotnetwrapper_r590/bin/Debug/IPoVnSystem.pdb
tesseractdotnetwrapper_r590/IPoVn.OCRer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
